.grumpy-button {
  display: block;
  outline: none;
  position: relative;
  margin-left: 30px;
  border-radius: 2px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 7px;
  text-decoration: none;
  color: #fff;
  border: none;
  background-color: #f1c40f;
  font-family: 'Open Sans', 'sans-serif'; 
  cursor: pointer;
}

.okay-status {
  background-color: #2ecc71;
}

.okay-status:hover {
  background-color: #48E68B;
}

.not-okay-status {
  background-color: #e74c3c;
}

.not-okay-status:hover {
  background-color: #FF6656;
}

.unknown-status {
  background-color: #f1c40f;
}

.unknown-status:hover {
  background-color: #FFDE29;
}